<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <param name="Encoding" value="UTF-8"/>
        <param name="Threshold" value="debug"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %t %c{1}:%M:%L - %m%n"/>
        </layout>
    </appender>

    <appender name="app" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="logs/app.log"/>
        <param name="Append" value="false"/>
        <param name="Threshold" value="warning"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
        </layout>
    </appender>


    <appender name="spring" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="logs/spring.log"/>
        <param name="Append" value="false"/>
        <param name="Threshold" value="error"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
        </layout>
    </appender>

    <appender name="root" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="logs/root.log"/>
        <param name="Append" value="false"/>
        <param name="Threshold" value="info"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
        </layout>
    </appender>


    <logger name="org.apache.http" additivity="false">
        <level value="warn"/>
    </logger>

    <logger name="org.springframework.beans.PropertyEditorRegistrySupport">
        <level value="warn"/>
    </logger>

    <logger name="org.apache.http.wire">
        <level value="warn"/>
    </logger>
    <logger name="org.apache.http.headers">
        <level value="error"/>
    </logger>
    <logger name="httpclient">
        <level value="warn"/>
    </logger>

    <category name="com.parser">
        <priority value="info"/>
        <appender-ref ref="app"/>
    </category>

    <!--Корневой logger-->
    <root>
        <appender-ref ref="console"/>
    </root>
</log4j:configuration>